## 4.6 Part 2 - Combining data

### 1. Importing libraries

### 2. Importing data

### 3. Merging dataframes

### 4. Confirming the results of the merge

### 5. Exporting the merged dataframe

#### 1. Importing libraries

In [2]:
# Import libraries
import pandas as pd
import numpy as np
import os

#### 2. Importing data

In [4]:
path = r'C:\Users\Priya\OneDrive\Documents\CareerFoundry\Data Immersion\Achievement 4\Instacart Basket Analysis'

In [6]:
path

'C:\\Users\\Priya\\OneDrive\\Documents\\CareerFoundry\\Data Immersion\\Achievement 4\\Instacart Basket Analysis'

In [8]:
orders_products_combined = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [10]:
#Checking the shape of the dataframe
orders_products_combined.shape

(32434489, 11)

In [12]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [14]:
#Checking the output of orders_products_combined
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,prior,1,2,8,7.0,196,1,0,both
1,2539329,1,prior,1,2,8,7.0,14084,2,0,both
2,2539329,1,prior,1,2,8,7.0,12427,3,0,both
3,2539329,1,prior,1,2,8,7.0,26088,4,0,both
4,2539329,1,prior,1,2,8,7.0,26405,5,0,both

In [16]:
#Checking the output of df_prods
df_prods.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [28]:
#Removing the Unnamed:0 column from df_prods
df_prods = df_prods.drop(columns = ['Unnamed: 0'])

In [30]:
#Checking if the Unnamed:0 column was removed
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

#### 3. Merging dataframes

In [32]:
#Checking the shape of df_prods
df_prods.shape

(49670, 5)

In [58]:
#Looking at both dataframes, it is evident that the product_id column is present in both.
#Merging the dataframes using the inner join seems to be the most appropriate way to combine the dataframes since it will keep the data that is present in both dataframes.

In [38]:
#Testing the merge without overwriting
pd.merge(orders_products_combined,df_prods, on = ['product_id'], indicator = True)

ValueError: Cannot use name of an existing column for indicator column

In [40]:
#Removing the _merge column from orders_products_combined
orders_products_combined = orders_products_combined.drop(columns = ['_merge'])

In [42]:
#Checking if the _merge column was removed
orders_products_combined.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered
0,2539329,1,prior,1,2,8,7.0,196,1,0
1,2539329,1,prior,1,2,8,7.0,14084,2,0
2,2539329,1,prior,1,2,8,7.0,12427,3,0
3,2539329,1,prior,1,2,8,7.0,26088,4,0
4,2539329,1,prior,1,2,8,7.0,26405,5,0

In [44]:
#Checking the shape of orders_products_combined
orders_products_combined.shape

(32434489, 10)

In [46]:
#Testing the merge without overwriting
pd.merge(orders_products_combined,df_prods, on = ['product_id'], indicator = True)

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,7.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,7.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,7.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,7.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32399727,2977660,206209,prior,13,1,12,7.0,14197,5,1,Tomato Paste,9,9,5.6,both
32399728,2977660,206209,prior,13,1,12,7.0,38730,6,0,Brownie Crunch High Protein Bar,3,19,5.9,both
32399729,2977660,206209,prior,13,1,12,7.0,31477,7,0,High Protein Bar Chunky Peanut Butter,3,19,4.2,both
32399730,2977660,206209,prior,13,1,12,7.0,6567,8,0,Chocolate Peanut Butter Protein Bar,3,19,4.9,both
32399731,2977660,206209,prior,13,1,12,7.0,22920,9,0,Roasted & Salted Shelled Pistachios,117,19,1.7,both

In [48]:
#Merging the dataframes
df_ords_prods_merged = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [50]:
#Checking the output
df_ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,7.0,196,1,0,Soda,77,7,9.0,both
1,2539329,1,prior,1,2,8,7.0,14084,2,0,Organic Unsweetened Vanilla Almond Milk,91,16,12.5,both
2,2539329,1,prior,1,2,8,7.0,12427,3,0,Original Beef Jerky,23,19,4.4,both
3,2539329,1,prior,1,2,8,7.0,26088,4,0,Aged White Cheddar Popcorn,23,19,4.7,both
4,2539329,1,prior,1,2,8,7.0,26405,5,0,XL Pick-A-Size Paper Towel Rolls,54,17,1.0,both

In [54]:
#Checking the shape of the dataframe
df_ords_prods_merged.shape

(32399732, 15)

#### 4. Confirming the results of the merge

In [52]:
df_ords_prods_merged['_merge'].value_counts()

_merge
both          32399732
left_only            0
right_only           0
Name: count, dtype: int64

#### 5. Exporting the merged dataframe

In [60]:
df_ords_prods_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'ords_prods_merge.pkl'))